@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.username{
    margin-left: 500px;
    /* font-size: 32px; */
}
.card{
    background-color:antiquewhite;
}
body{
    font-family: 'Poppins', sans-serif;
}